body{
  background-color:#1E555C;
  color:white;
  font-family:System, sans-serif;
}
.contenedor{
  display:block;
  position: absolute;
  top: 50%;  
  left: 50%;
  justify-content:center;
  text-align:center;
  transform: translate(-50%, -50%);
  padding:90px;
}
.marco{
  border: 7px solid #13353A;
  border-radius:49px;
  margin:0 auto;
  width:57%;
  height:150px;
  font-size:70px;
  padding-bottom:29px;
}

p{
  font-size:55px;
margin-bottom:0px;
}
span {
  font-size:25px;
}

#break-label{
  display:inline-block;
  font-size:24px;
  width:154px;
  margin-right:20px;
  
}

#session-label{
  display:inline-block;
  width:169px;
  font-size:24px;
  margin-left:26px;
  margin-top:23px;
}

#timer-label{
  display:flex;
  font-size:26px;
  justify-content:center;
  margin-top:30px; 
}
.fa-arrow-down{
display:inline;
  margin:15px;
}
.fa-arrow-up{
 display:inline; 
  margin:15px;
}


.flechas{
  display:flex;
 margin-bottom:32px;
  margin-left:36px;
  float:left;
  jusfify-content:center;
  align-items: center;
}

#time-left{
  display:flex; 
  justify-content:center;
  width:100%;
}

.fa-play, .fa-pause, .fa-refresh{
  margin:8px;
}