body{
  background-color:#1E555C;
  color:white;
  font-family:System, sans-serif;
}
.contenedor{
  display:block;
  position: absolute;
  top: 50%;  
  left: 50%;
  justify-content:center;
  text-align:center;
  transform: translate(-50%, -50%);
  padding:20px;
}

p{
  font-size:55px;
margin-bottom:5px;
}
span {
  font-size:25px;
}

#break-label{
  display:inline-block;
  font-size:20px;
  width:154px;
  margin-right:10px;  
}

#session-label{
  display:inline-block;
  width:169px;
  font-size:20px;
  margin-left:10px;
  margin-top:23px;
}

#timer-label{
  display:flex;
  font-size:26px;
  justify-content:center;
  margin-top:30px;
}
.fa-arrow-down{
display:inline;
  margin:15px;
}
.fa-arrow-up{
 display:inline; 
  margin:15px;
}


.flechas{
  display:flex;
 margin-bottom:32px;
  margin-left:36px;
  float:left;
  jusfify-content:center;
  align-items: center;
}

#time-left{
display:inline;
  position: absolute;
  top:83%;  
  left:48%;
  margin-top:30px;
}

.fa-play, .fa-pause, .fa-refresh{
  margin:8px;
}
#start_stop{
  display:inline;
  position: absolute;
  top:83%;  
  left:42%;
  margin-top:50px;
}

#reset{
  display:inline;
  position: absolute;
  top:83%;  
  left:55%;
  margin-top:50px;
}

#timer-label{
  width:10%;
  display:inline;
  position: absolute;
  top:80%;  
  left:45%;
  margin-top:0px;
}