body{
  background-color:#1E555C;
  color:white;
  font-family:System, sans-serif;
}
.contenedor{
  display:block;
  position: absolute;
  top: 40%;  
  left: 50%;
  justify-content:center;
  text-align:center;
  transform: translate(-50%, -50%);
  padding:20px;
}

p{
  font-size:55px;
margin-bottom:5px;
}
span {
  font-size:25px;
}

#break-label{
  display:inline-block;
  font-size:20px;
  width:154px;
  margin-right:10px;  
}

#session-label{
  display:inline-block;
  width:169px;
  font-size:20px;
  margin-left:10px;
  margin-top:23px;
}

#timer-label{
  display:flex;
  font-size:26px;
  justify-content:center;
  margin-top:30px;
}
.fa-arrow-down{
display:inline;
  margin:15px;
}
.fa-arrow-up{
 display:inline; 
  margin:15px;
}


.flechas{
  display:flex;
 margin-bottom:32px;
  margin-left:36px;
  float:left;
  justify-content:center;
  align-items: center;
}

#time-left{
  width: 115px;
  border: 7px solid #13353A;
  border-radius:49px;
display:inline;
  position: absolute;
  top:60%; 
  left: 50%;
transform: translateX(-50%);
margin: 0 auto;
  justify-content:center;
  align-items: center;
  height:45px;
  padding:25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}

.fa-play, .fa-pause, .fa-refresh{
  margin:8px;
}
#start_stop{
  display:inline;
  position: absolute;
  top:70%;  
  left:43%;
  margin-top:50px;
}

#reset{
  display:inline;
  position: absolute;
  top:70%;  
  left:53%;
  margin-top:50px;
}

#timer-label{
  
  width:10%;
  display:inline;
  position: absolute;
  top:62%;  
  left:46%;
  margin-top:0px;
}